.up-footer {
    width: 375px;
    height: 1539px;
    background-color: #DCE8F2;

    .up-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 40px;
        font-family: "DM Sans", sans-serif;
        padding: 40px;
    }

    .up-circe {
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }

    .up-info {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .booking {
        color: #010A20;
        font-weight: 700;
        font-size: 22px;
        font-family: "DM Sans", sans-serif;
    }

    .up-lorem {
        color: #15143966;
        font-weight: 400;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
    }

    .show-up {
        color: #DD2242;
        font-weight: 400;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;

    }

    .up-photo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-up {
        display: flex;
        justify-content: flex-end;
       
    }

    .footer-un {
        width: 375px;
        height: 723px;
        background-color: #010A20;
    }

    .footer-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 22.94px;
        gap: 50px;
    }

    .list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 32px;
        color: #FFFFFF;
    }

    .cope {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 32px;
        color: #FFFFFF;
        margin: 20px;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
    }
}
@media (max-width: 760px) {
    .up-text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 40px;
            font-family: "DM Sans", sans-serif;
            padding: 40px;
        }
    
        .up-circe {
            display: flex;
            justify-content: center;
            color: #FFFFFF;
        }
    
        .up-info {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .booking {
            color: #010A20;
            font-weight: 700;
            font-size: 22px;
            font-family: "DM Sans", sans-serif;
        }
    
        .up-lorem {
            color: #15143966;
            font-weight: 400;
            font-size: 16px;
            font-family: "DM Sans", sans-serif;
        }
    
        .show-up {
            color: #DD2242;
            font-weight: 400;
            font-size: 16px;
            font-family: "DM Sans", sans-serif;
    
        }
    
        .up-photo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .footer-up {
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: baseline;
    
        }
    
        .footer-un {
            width: 375px;
            height: 723px;
            background-color: #010A20;
        }
    
        .footer-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 22.94px;
            gap: 50px;
        }
    
        .list {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;
            font-size: 32px;
            color: #FFFFFF;
        }
    
        .cope {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;
            font-size: 32px;
            color: #FFFFFF;
            margin: 20px;
            font-family: "DM Sans", sans-serif;
            font-weight: 700;
        }
}
@media (min-width: 760px) {
    .up-footer {
            width: auto;
            height: 1432px;
            background-color: #DCE8F2;
    }
    .footer-un {
        width: auto;
            height: 136px;
            background-color: #010A20;
    }
    .footer-un {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 18px;
    }
    .footer-up {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .photo-footer {
        width: 174px;
        height: 65.74876403808594px;
    }
    .list {
        display: flex;
        justify-content: center;
        gap: 70px;
        color: #FFFFFF;
    }
    .cope {
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin: 100px;
    }
    .footer-up {
        display: flex;
        justify-content: right;
        align-items: center;
    }
}